spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashop
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true // sql? sout? ??
        format_sql: true
        default_batch_fetch_size: 100
#  open.in.view: false # OSIV Off

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

logging:
  level:
    org.hibernate.SQL: debug # sql? log? ??
    org.hibernate.type: trace # ?? ????? ???? ??